---
layout: default
protected: true
---
include ../partials/mixins
.row.breadcrumbs.hidden-xs
	.col-sm-12.col-md-12.col-lg-12
		//-.pull-right
			a(href="index.html") X
		a(href="index.html")
			img(src="assets/img/breadcrumbs1.png").col-xs-8.col-sm-8.col-md-4.col-lg-4
			.clearfix
.row
	.col-xs-12.col-sm-12.col-md-12.col-lg-12
		img(src="assets/img/emne1.png").img-chapters-transform-js.col-xs-12.col-sm-12.col-md-12.col-lg-8.col-lg-offset-2
