---
layout: default
protected: true
---
include ../partials/mixins
.row
	.col-xs-12.col-sm-12.col-md-12.col-lg-12
		.book--container
			img(src="assets/img/planets_index.png").img-index-transform-js.hidden-xs
			img(src="assets/img/planets_index_mobile1.png").img-index-mobile-transform-js.visible-xs
