---
layout: default
protected: true
---
include ../partials/mixins
.row.breadcrumbs.hidden-xs
	.col-sm-12.col-md-12.col-lg-12
		//-.pull-right
			a(href="index.html") X
		a(href="chapters.html")
			img(src="assets/img/breadcrumbs2.png").col-xs-8.col-sm-8.col-md-4.col-lg-4
			.clearfix
.row
	.col-xs-12.col-sm-12.col-md-12.col-lg-12
			#tabs
				ul
					li
						a(href="#tabs1", data-toggle="tab") Plus
					li
						a(href="#tabs2", data-toggle="tab") Opgaver
				.subchapters-content
					#tabs1
						.col-xs-12.col-sm-12.col-md-12.col-lg-12
							.row
								//- img(src="assets/img/regneregler_indhold_1_left.png").col-xs-12.col-sm-12.col-md-6.col-lg-6
								//- img(src="assets/img/regneregler_indhold_1_right.png").col-xs-12.col-sm-12.col-md-6.col-lg-6
								.col-xs-12.col-sm-12.col-md-6.col-lg-6
									h1 Regneregler
									br
									p I dette kapitel kan du læse om regeneregler. Det handler om at lægge tal sammen.
									img(src="assets/img/planets_emne1.png").col-xs-12.col-sm-12.col-md-12.col-lg-12
									br
									p Her kan du læse om et eksempel på en regneregel.
									br
									p Som du kan se på planeterne, hvis man har 1 + 1, hvor mange planeter har man så?
									img(src="assets/img/planets_emne2.png").col-xs-12.col-sm-12.col-md-12.col-lg-12
									p Når man regner med vektorer til hverdag, tænker man måske ikke så meget over, at man bruger disse regneregler, men det dem der danner grundlaget for al regning med vektorer.
									br
									p Bagefter lægge dem sammen. Med andre ord, må man gange.
									p Bagefter kan man igen lægge dem sammen. Så det at lægge tal sammen er sjovt.
									br

								.col-xs-12.col-sm-12.col-md-6.col-lg-6
									img(src="assets/img/cartoon-spaceship2.png").cartoon-spaceship.col-xs-12.col-sm-12.col-md-12.col-lg-12
									.clearfix
									br
									p Den første regneregel siger, at det er ligegyldigt i hvilket tal der rækkefølge man lægger to vektorersammen.
									br
									p Den anden fortæller, at hvis man skal gange et tal med en vektorsum, så svarer det til at gange tallet med hver vektor 
									br
									p Bagefter lægge dem sammen. Med andre ord, må man gange et tal ind i enparentes med en vektorsum.
									img(src="assets/img/audio-player.png").audio-player.col-xs-12.col-sm-12.col-md-12.col-lg-12
									h6 Oplæsning af regneregler
						.clearfix
					#tabs2
						.col-xs-12.col-sm-12.col-md-6.col-lg-6
							h1 Regneraketten er kommet i problemer
							br
							p Regneraketten har glemt hvor den var på vej hen, og kan nu ikke regne ud hvor den skal hen!
							br
							p Træk raketten hen på det rigtige svar for at fuldføre opgaven, og hjælpe raketten videre på dens rejse.
							br
						img(src="assets/img/matematik_opgave.png").col-xs-12.col-sm-12.col-md-6.col-lg-6
						.clearfix